@{
    ViewData["Title"] = ViewData["Subject"];
}

<style>
    body {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    div {
    }
    .title {
      margin-bottom:20px;
    }
    .section-head {
    }
    .section-line {
      margin-left: 10px;
    }
    .sig {
    }
    .sig-line {
    }
</style>

<div class="title">Gauge: <a href="https://floodzilla.com/gage/@Model.Location.PublicLocationId">@Model.Location.PublicLocationId @Model.Location.LocationName</a></div>

@if (Model.GageEvent.EventType == GageEventTypes.MarkedOffline) {
  <div class="section-head">Gauge Offline for Maintenance</div>
  <div class="section-line">This gauge has been taken offline for maintenance.  You will be notified when the gauge is brought back online.</div>
} else {
  <div class="section-head">Gauge Online</div>
  <div class="section-line">This gauge has been brought back online.  You will be alerted about water status changes.</div>
}

<div class="sig">
<div class="sig-line">-- </div>
<div class="sig-line">Floodzilla Gauge Network - <a href="https://floodzilla.com">https://floodzilla.com</a></div>
<div class="sig-line">We sent this email to @Model.AspNetUser.Email: <a href="@Model.GetUnsubscribeLink()">unsubscribe</a></div>
<div class="sig-line">Snoqualmie Valley Preservation Alliance (SVPA)</div>
<div class="sig-line">4621 Tolt Avenue, Carnation, WA 98014</div>
</div>
