@{
    ViewData["Title"] = ViewData["Subject"];
}

Dear @Model.FirstName @Model.LastName,<br /><br />

Please reset your Floodzilla password by clicking on the following link: 
<br /><br />
<a href="@Model.CallbackUrl">Reset Password</a>
<br /><br />
Thanks,
<br />
SVPA

