@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Password Reset Email Sent";
}

<h2>@ViewData["Title"]</h2>

<div class="card">
  <div class="card-body">
    Please check your email for a link to reset your password.
  </div>
</div>

