@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Account Created";
}

<h2>@ViewData["Title"]</h2>

<div class="card">
  <div class="card-body">
    Your account was successfully created.  An administrator will grant you access.
  </div>
</div>

