@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Password has been Reset";
}

<h2>@ViewData["Title"]</h2>

<div class="card">
  <div class="card-body">
    Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
  </div>
</div>

