@model FloodzillaWeb.Models.FzModels.FloodEvents
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Create Flood Event";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css" rel="stylesheet" />

<partial name="_showMessage" />
<h4>@ViewData["Title"]</h4>
<hr />
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Create" method="post" class="form-horizontal" autocomplete="off">
  <input type="hidden" asp-for="RegionId" value="1" />

  <div class="form-group row">
    <div class="col-md-2 control-label">
      <label asp-for="EventName" class="control-label">Name:</label>
    </div>
    <div class="col-md-10">
      <input asp-for="EventName" class="form-control" placeholder="Name" />
      <span asp-validation-for="EventName" class="text-danger"></span>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2 control-label">
      <label asp-for="FromDate" class="control-label">From:</label>
    </div>
    <div class="col-md-10">
      <div class="input-group-append" data-target="#FromDate" data-toggle="datetimepicker">
        <input type='text' class="form-control datetimepicker-input" id="FromDate" asp-for="FromDate" />
        <span class="input-group-text">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2 control-label">
      <label asp-for="ToDate" class="control-label">To:</label>
    </div>
    <div class="col-md-10">
      <div class="input-group-append" data-target="#ToDate" data-toggle="datetimepicker">
        <input type='text' class="form-control datetimepicker-input" id="ToDate" asp-for="ToDate" />
        <span class="input-group-text">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2 control-label">
      <label asp-for="ToDate" class="control-label">Locations:</label>
    </div>
    <div class="col-md-10">
      <select name="LocationIds" data-placeholder="Select locations..." asp-for="LocationIds" class="form-control" required multiple asp-items="@ViewBag.Locations">
      </select>
      &nbsp;&nbsp;<input type="checkbox" id="chkAll"/><label for="chkAll">Select All</label>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2 offset-2">
      <label><input type="checkbox" asp-for="IsActive" /> Active</label><br/>
      <label><input type="checkbox" asp-for="IsPublic" /> Public</label>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-10 offset-2">
      <button type="submit" class="btn btn-primary">Save</button>
      <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
  </div>
</form>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(function () {

            $("#LocationIds").chosen();

            $('#FromDate').datetimepicker({ defaultDate: moment(), format: "MM/DD/YYYY", maxDate: new Date() });
            $('#ToDate').datetimepicker({ defaultDate: moment(), format: "MM/DD/YYYY", maxDate: new Date() });

            $("#FromDate").on("change.datetimepicker", function (e) {
                $('#ToDate').datetimepicker('minDate', e.date);
            });
            $("#ToDate").on("change.datetimepicker", function (e) {
                $('#FromDate').datetimepicker('maxDate', e.date);
            });

            $("#chkAll").change(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    $("#LocationIds option").prop('selected', true);
                }
                else {
                    $("#LocationIds option").prop('selected', false);
                }
                $("#LocationIds").trigger('chosen:updated');
            });

        });
    </script>
}
