
    <div class="navbar-wrapper">
        <div>
            <p id="header-p" class="text-center">Maintained by Snoqualmie Valley Preservation Alliance | 425-549-0316 | <a href="http://www.svpa.us">www.svpa.us</a></p>
        </div>

        <div class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <partial name="_Logo" />
                </div>
                <div>
                    <ul class="nav navbar-expand float-right">
                        <partial name="_Menu" />
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </div>
    </div>
