@{ 
    Layout = "_AdminLayout";
    ViewData["Title"] = "Initialize Database";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="card card-info">
            <div class="card-header">
                <div class="card-title">Initialize Database</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <ul>
@{
        foreach (var result in ViewBag.Results)
        {
            <li>@result</li>
        }
}
        </ul>
    </div>
</div>

<partial name="_showMessage" />

@section Scripts {
<script>
</script>
}
