<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.webServer>
		<httpProtocol>
			<customHeaders>
			  <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
			  <add name="Pragma" value="no-cache" />
			  <add name="Expires" value="0" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<clear />
				<rule name="NonWwwRedirect"  stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^www.floodzilla\.com$" />
					</conditions>
					<action type="Redirect" url="http://floodzilla.com/{R:1}" />
				</rule>
			</rules>
		</rewrite>
		<handlers>
			<remove name="aspNetCore"/>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
		</handlers>
		<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
	</system.webServer>


</configuration>