@model IEnumerable<FloodzillaWeb.Models.FzModels.Locations>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Locations";
}

<div class="row">
    <div class="col-lg-12">
        <partial name="_showMessage" />
        <div>
            <a asp-action="Create" class="btn btn-primary">New Location</a>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger disabled" id="btnDelete">Delete</button>&nbsp;&nbsp;&nbsp;
            <span class="showDeleted">
              <button class="btn btn-danger disabled" id="btnUndelete">Undelete</button>
            </span>
            <span style="float:right;"><input type="checkbox" id="toggleDeleted">  Show deleted</input></span>
        </div>
        <div class="card card-info">
            <div class="card-header">
                <div class="card-title">Locations</div>
            </div>
            <div class="card-body">
            </div>

            <div class="table-responsive">
                <table id="locationTable" class="table table-striped table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="checkAll" /></th>
                            <th>Location Name</th>
                            <th>Short Name</th>
                            <th>Rank</th>
                            <th>Public ID</th>
                            <th>Device</th>
                            <th>Ground Height</th>
                            <th>Benchmark Elevation</th>
                            <th>Road Height</th>
                            <th>Yellow</th>
                            <th>Red</th>
                            <th>Active</th>
                            <th>Public</th>
                            <th>Offline</th>
                            <th>Images</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="ImagesInfo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Images</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="imagesCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#imagesCarousel" role="button" data-slide="prev">
                            <span class="fa fa-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#imagesCarousel" role="button" data-slide="next">
                            <span class="fa fa-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div id="ImageMessage" class="alert alert-danger fade">
                        No image found!
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="DelConfirmModel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form asp-action="Delete" method="post">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="deleteList" id="deleteList" value="" />
                    Are you sure you want to delete?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="UndelConfirmModel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form asp-action="Undelete" method="post">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirm Undelete</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="undeleteList" id="undeleteList" value="" />
                    Are you sure you want to undelete?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Undelete</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
<environment names="Development">
    <script src="~/js/Admin/AdminToggleDelete.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/Admin/AdminToggleDelete.min.js"></script>
</environment>

    <script>
        var dataTable;

        $('#toggleDeleted').change(function() {
            UpdateTable();
        });
        
        function InitTable() {
            dataTable = $("#locationTable").DataTable({
                paging: false,
                dom: 'lBfrtip',
                order: [[ 3, "asc" ]],
                buttons: ['copy', 'excel', 'pdf'],
                ajax: {
                    "url": "/Locations/GetLocations?includeDevices=true&showDeleted=" + $('#toggleDeleted').is(':checked'),
                    "type": "POST"
                },
                createdRow: function(row, data, dataIndex) {
                    if (data.isDeleted) {
                        $(row).addClass('table-danger');
                    } else if (!data.isActive) {
                        $(row).addClass('table-inactive');
                    }
                },
                columns: [
                          { data: renderCheckbox, width: '40px', orderable: false },
                          { data: "locationName", orderable: true },
                          { data: "shortName", orderable: true, defaultContent: '' },
                          { data: "rank", defaultContent: '', orderable: true },
                          { data: "publicLocationId", defaultContent: '', orderable: true },
                          { data: renderDevice, orderable: true },
                          { data: "groundHeight", orderable: true, render: function(data, type, row) { if (data == undefined || data == 0) return ''; else return Number(data.toFixed(2)) } },
                          { data: "benchmarkElevation", orderable: true, render: function(data, type, row) { if (data == undefined || data == 0) return ''; else return Number(data.toFixed(2)) } },
                          { data: "roadSaddleHeight", orderable: true, render: function(data, type, row) { if (data == undefined || data == 0) return ''; else return Number(data.toFixed(2)) } },
                          { data: "green", orderable: true, render: function(data, type, row) { if (data == undefined || data == 0) return ''; else return Number(data.toFixed(2)) } },
                          { data: "brown", orderable: true, render: function(data, type, row) { if (data == undefined || data == 0) return ''; else return Number(data.toFixed(2)) } },
                          { data: "isActive", orderable: true, render: function(data, type, row) { return data ? 'Active' : 'Inactive'; }},
                          { data: "isPublic", orderable: true, render: function(data, type, row) { return data ? 'Public' : 'Private'; }},
                          { data: "isOffline", orderable: true, render: function(data, type, row) { return data ? 'OFFLINE' : ''; }},
                          { render: function(data, type, row) { return '<a tabindex="-1" class="showImage">Show&nbsp;Images</a>'; }},
                ]
            });
        }
        function UpdateTable() {
            dataTable.ajax.url("/Locations/GetLocations?includeDevices=true&showDeleted=" + $('#toggleDeleted').is(':checked'));
            dataTable.ajax.reload();
        }

        function renderCheckbox(data) {
            if (data == undefined || data == 0) {
                return '';
            }
            if (data.regionId == undefined || data.regionId == 0) {
                return '';
            }
            var cbox = '<input type="hidden" id="locationId" value="' + data.id + '"/><input type="checkbox" data-isdeleted="' + data.isDeleted + '" class="dt-body-center" id="chk_' + data.id + '" value="' + data.id + '"/>';
            var edit = '';
            if (!data.isDeleted) {
                edit = '<a href="/Locations/Edit/' + data.id + '"><span class="fa fa-edit"></span></a>';
            }
            return cbox + '&nbsp;&nbsp;' + edit;
        }
        function renderDevice(data) {
            if (data == undefined) {
                return('data');
            }
            var device = dataTable.ajax.json().devices.find(d => d.locationId == data.id);
            if (device == null) {
                return '';
            }
            return '<a href="/Devices/Edit/' + device.deviceId + '">' + device.name + '</a>';
        }

        $(function () {
            InitTable();
            InitAdminToggleDelete('#toggleDeleted', '#deleteList', '#undeleteList');

            $("table>tbody").on("click", "a[class='showImage']", function () {

                $("#imagesCarousel").removeClass("slide");

                var locationId = $(this).closest("tr").find("#locationId").val();
                $.ajax({
                    url: '@Url.Action("GetImages")',
                    data: { locationId: locationId },
                    success: function (data) {
                        $("#ImageMessage").addClass("fade");

                        $("#imagesCarousel").hide();

                        if (data.length > 0) {
                            var images = "";
                            var indicator = "";
                            $.each(data, function (index, item) {
                                var activeClass = (index == 0 ? "active" : "");

                                indicator += '<li data-target="#imagesCarousel" data-slide-to="' + index + '" class="' + activeClass + '"></li>';

                                
                                images += '<div class="carousel-item ' + activeClass + '">' +
                                '<img src="@ViewBag.AzureImageUploadBaseUrl/' + item + '" />' +
                                '</div>';
                            });
                            $(".carousel-indicators").empty().html(indicator);
                            $(".carousel-inner").empty().html(images);
                            $("#imagesCarousel").show().addClass("slide");
                        }
                        else {
                            $("#ImageMessage").removeClass("fade");
                        }

                        $("#ImagesInfo").modal("show");
                    }
                });
            });
    });
    </script>
}
