@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Password Change";
}

<h2>@ViewData["Title"]</h2>

<div class="card">
  <div class="card-body">
@{
    if (ViewBag.success)
    {
        <p>Password changed!</p>
    }
    else
    {
        <p>There was an error changing your password.  Please contact the SVPA.</p>
    }
}
  </div>
</div>

