
.navbar{
background:rgba(255,255,255,0.25);
border: none;
margin-bottom:20px;
}
.navbar-wrapper {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff !important;
}

nav.affix {
  width: 100%;
  z-index: 1;
  top: 1%;
}

.logo {
    width: 36px;
    height: 36px;
    display: inline !important;
    object-fit: contain;
}

.logo-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
}

#header-p {
    background-color: #464646;
    /* opacity: 0.78; */
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #C4C4C4;
}

#header-p a {
    color: #C8C8C8;
}

.menu{
    position:absolute;
  left: 35%;
  margin-top: 0.7%;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  
}
.menu>li{
    padding-right:5px;
}
.menu a{
  color: rgba(68, 68, 68, 0.48);
}
.affix{
  top:0;
  width: 100%;
  z-index: 4;
  height:100px;
}

.menu .active > a {
    color: #069ba8;
    background: none;
    border-bottom: #069ba8 3px solid;
}

.menu>li>a:focus, .menu>li>a:hover {
  text-decoration: none;
  background: none;
  color:#069ba8;
  border-bottom: #069ba8 3px solid;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
     background:none; 
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background:none;
}
.navbar-expand>li>.dropdown-menu {
  margin-top: -6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown:hover{
  cursor: pointer;
}

.dropdown>a{
  margin-left: 20%;
}

.dropdown-menu {
  font-size: 14px;
}


.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}

@media only screen and (max-width: 768px){
    .affix {
        height: auto;
    }
    .menu{
        left:0;
        position:relative;
    }
}